<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Lighs Out</title>
		<link rel="stylesheet" type="text/css" href="{{ assets }}/style/lights-out.css">
		<script type='text/javascript' src='http://code.jquery.com/jquery-1.6.2.js'></script>
		<script type='text/javascript' src="{{ assets }}/lib/jquery.lightsout.js"></script>
		<script type='text/javascript'>
			$(function(){
				$("#lights-out").create(3,[
					[0, 0, 0, 0],
					[0, 0, 0, 0],
					[0, 0, 0, 1]
				]).initialize();
			});
		</script>
	</head>
	<body>
		<div id="lights-out"></div>
	</body>
</html>
