<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Lighs Out</title>
		<script type='text/javascript' src='http://code.jquery.com/jquery-1.6.2.js'></script>
		{{#isDoc}}
		<link rel="stylesheet" type="text/css" href="{{ assets }}/style/lights-out.css">
		<script type='text/javascript' src="{{ assets }}/lib/jquery.lightsout.js"></script>
		<script type='text/javascript'>
			$(window).load(function(){			
				var l = new LightsOut({{numberOfStates}},{{problem}});
				l.anew();
				$(".reset").click(function(){l.anew()});
			});
		</script>
		{{/isDoc}}
	</head>
	<body>
		<div class="container">
			<h1>{{ name }}</h1>
			<div class="lights-out">No description given</div>
			<div class="controls">
				<input type="button" value="reset" class="reset"/>
			</div>
		</div>
	</body>
</html>
