.button {
	display: inline-block;
	margin: 0px 3px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: rgba(0,0,0,0);
}

.row {
	margin: 6px 0px;
}

.lights-out {
	display: inline-block;
	background: #FFFF99;
	width: auto;
	height: auto;
	padding: 10px 15px;
	border-radius: 10px;
}

.state0 {
	background-color: lightgrey;
}

.state1 {
	background-color: red;
}

.state2 {
	background-color: green;
}
